.comments {

  &__item {
	padding: 25px 20px 25px 68px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-top: 5px;
	position: relative;
  }

  &__name {
	font-size: 15px;
	line-height: 22px;
	font-weight: 600;
  }

  &__avatar {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 14px;
  }

  &__subtitle {
	font-size: 13px;
	line-height: 22px;
	color: #BCBEC0;
  }

  &__content {
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  &__number {
	font-size: 12px;
	vertical-align: super;
	margin-left: 5px;
	font-weight: normal;
  }
}
