.issues {

  &-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #d1d5da;
	border-left: 1px solid #d1d5da;
	border-right: 1px solid #d1d5da;
	padding: 10px;
  }

  &-list {
	margin: 0 0 50px 0;
	border-top: 1px solid #d1d5da;

	&__item {
	  display: flex;
	  flex-direction: row;
	  border-left: 1px solid #d1d5da;
	  border-right: 1px solid #d1d5da;
	  border-bottom: 1px solid #d1d5da;
	  padding: 10px;
	  position: relative;
	}

	&__issue-open {
	  color: #28a745;
	  fill: currentColor;
	}

	&__issue-closed {
	  color: #cb2431;
	  fill: currentColor;
	}

	&__data {
	  display: flex;
	  flex-direction: column;
	  margin-left: 8px;
	}

	&__comments {
	  text-align: right;
	  width: 25%;
	  margin-left: auto;
	  flex-shrink: 0;
	}

	&__link {
	  color: #24292e;
	  text-decoration: none;
	  font-weight: 600;
	  border-top: none;

	  &:hover {
		color: #0366d6;
	  }
	}
  }

}
